@charset "UTF-8";
/*PAGINA CONTACTO*/
.paginacontacto {
  height: 600px;
  background-color: #B7B1F2;
  padding: 2%;
  display: flex;
  gap: 100px;
}
.paginacontacto h2 {
  font-weight: normal;
}
.paginacontacto .formulario {
  padding: 20px;
  margin-left: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.paginacontacto .formulario input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.paginacontacto .formulario textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
}
.paginacontacto .formulario button {
  justify-items: center;
}
.paginacontacto .formulario label {
  display: block;
  margin-top: 10px;
}
.paginacontacto .fotocontacto {
  width: 800px;
  border-radius: 10px;
  align-items: center;
  margin-top: 50px;
}

/*Body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

/*TEXTO MAIN*/
.textomain {
  font-size: small;
  text-align: center;
}
.textomain h2 {
  font-weight: normal;
}
.textomain h3 {
  font-weight: normal;
}

/*NAV*/
header {
  background-color: #f0cffa;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo h1 {
  font-weight: 100;
}
header .menu {
  display: flex;
  justify-content: space-around;
  border: solid;
  border-color: #ecc7f8;
  margin-bottom: 0px;
}
header .menu li {
  list-style: none;
}
header .menu li a {
  text-decoration: none;
  color: black;
}
header .menu-hamburguesa .bg-dark {
  background-color: #bd74c7;
}

/*FOOTER*/
.wavefooter {
  height: 100px;
  width: 100%;
}

.flexfooter {
  display: flex;
  background-color: #f0cffa;
  justify-content: center;
}
.flexfooter .diseñofooter {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.flexfooter .diseñofooter a {
  margin: 5px;
}
.flexfooter .diseñofooter h3 {
  font-size: medium;
  font-weight: normal;
  align-content: center;
}

/*Pagina Producto*/
/*Pagina Tortas*/
.paginaproductos, .paginacupcakes, .paginacookies {
  background-color: #a8a0f3;
}
.paginaproductos img, .paginacupcakes img, .paginacookies img {
  border: solid;
  border-color: #978df2;
  border-radius: 30px;
}

/*Grid*/
.contenedor-grid {
  display: grid;
  grid-template-areas: "texto-cookies-torta-cupcake texto-cookies-torta-cupcake texto-cookies-torta-cupcake" "producto1 producto2 producto3" "parrafoproducto1 parrafoproducto2 parrafoproducto3" "producto4 producto5 producto6" "parrafoproducto4 parrafoproducto5 parrafoproducto6";
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: 30px repeat(450px);
  justify-content: space-evenly;
  align-items: center;
}
.contenedor-grid .texto-cookies-torta-cupcake {
  grid-area: texto-cookies-torta-cupcake;
  margin-top: 50px;
}
.contenedor-grid .producto1 {
  grid-area: producto1;
  width: 300px;
}
.contenedor-grid .producto2 {
  grid-area: producto2;
  width: 300px;
}
.contenedor-grid .producto3 {
  grid-area: producto3;
  width: 300px;
}
.contenedor-grid .producto4 {
  grid-area: producto4;
  width: 300px;
}
.contenedor-grid .producto5 {
  grid-area: producto5;
  width: 300px;
}
.contenedor-grid .producto6 {
  grid-area: producto6;
  width: 300px;
}

/*Extend -- cambio color fondo y sombra imagenes en pagina de cookies y cupcakes*/
.paginacookies {
  background-color: #FBF3B9;
}

.paginacookies img {
  border-color: #f6e98c;
}

.paginacupcakes {
  background-color: #f9c1a7;
}

.paginacupcakes img {
  border-color: #f8b89a;
}

/*Animacion Productos*/
.animacionProductos:hover {
  transform: translate(130px, -130px);
  transform: scale(1.5, 1.5);
  animation-name: myAnimation;
  animation-iteration-count: unset;
  animation-duration: 0.5s;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sobremi {
  background-color: #f0cffa;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.sobremi .sobremidisenio {
  justify-content: center;
  align-items: center;
  width: 550px;
}
.sobremi .sobremidisenio img {
  height: 500px;
  margin: 10px;
  background-color: #e8b6f7;
  border-radius: 30px;
}

/*INDEX*/
.mainindex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../images/CakeCupcake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
.mainindex .textomainindex {
  font-size: small;
  text-align: center;
}
.mainindex .textomainindex h2 {
  font-weight: normal;
}
.mainindex .textomainindex h3 {
  font-weight: normal;
}

/*# sourceMappingURL=style1.css.map */
