@use "./variables" as*;

/*INDEX*/
.mainindex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../images/CakeCupcake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    .textomainindex{
        font-size: small;
        text-align: center;
        margin-top: 100px;
        h1{
            font-weight: 300;
            font-size: xx-large;
        }
        h2{
            font-weight: 300;
            font-size: xx-large;
        }
    }
}  
.estilo-wave-main-index{
    margin-bottom: -140px;
}
section{
    h2{
        background-color: #a8a0f3;
    }
}
