@use "./variables" as*;
/*INDEX*/
.mainindex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../images/CakeCupcake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    .textomainindex{
        font-size: small;
        text-align: center;
        h2{
            font-weight: normal;
        }
        h3{
            font-weight: normal;
        }
    }
}  